<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wörter der Wahl</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0"/>
    <link rel="shortcut icon" href="https://www1.wdr.de/resources/img/favicon.ico"/>
    <link rel="icon" href="https://www1.wdr.de/resources/img/favicon.ico"/>

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <link rel="import" href="elements/app-shell.html">

</head>
<body>

{% include "partials/header.html" with { active: 'nachrichten' } %}

<div class="category container">
    <a href="http://www1.wdr.de/nachrichten/landespolitik/landtagswahl/index.html">Landtagswahl 2017</a>
</div>

<article id="content" class="container">
    <section class="teaser">
        <h1>Wörter der Wahl</h1>
        <em>Parteiprogramme einmal anders</em>
        <p>
            Zur NRW-Landtagswahl am 14. Mai haben wir gezählt,
            welche Wörter wie oft vorkommen. Vertreten sind die fünf
            Parteien, die derzeit im NRW-Landtag sitzen (SPD, Grüne, CDU, FDP, Piraten) sowie
            Linke und AFD. Ein Klick auf ein Wort zeigt, wie oft es bei jeder Partei vorkommt und
            wo es im Programm auftaucht. Weitere Wörter können über die Suche hinzugefügt werden.
        </p>
    </section>

    <app-shell></app-shell>
</article>

{% include "partials/breadcrumb.html" %}
{% include "partials/footer.html" %}

{% include "partials/webtrekk.html" %}

</body>
</html>