.modal
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  background: rgba(0,0,0,0.2)
  z-index: 1000
  padding: 20px

  .modal-content
    position: relative
    max-width: 960px
    height: 100%
    margin: 0 auto
    background: white
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.3)

    .modal-close
      font-size: 20px
      position: absolute
      cursor: pointer
      top: 10px
      right: 15px

    .modal-scroll
      overflow: auto
      padding: 20px
      max-height: 100%
