*
  box-sizing: border-box

@import "../bower_components/normalize-css/normalize.css"
@import "../bower_components/neat/core/neat"
@import "fonts.css"
@import "variables"
@import "globals"

@import "vis"
@import "modal"

$content-margin: 40px
$menubar-color: #345c7e
$tab-width: 100px
$bp-mobile: 600px

.menubar
  background: $menubar-color
  text-transform: uppercase
  color: white
  line-height: 40px
  position: relative

  .icon-info
    float: left
    color: white
    text-decoration: none
    border-right: 2px solid $wdr-blue

    @media (max-width: $bp-mobile)
      span
        display: none

      &:before
        margin-right: 0 !important

    &:before
      content: "i"
      text-transform: none
      margin-right: 10px
      border: 1px solid white
      width: 20px
      height: 20px
      line-height: 22px
      border-radius: 20px
      display: inline-block
      text-align: center

    &:hover
      background: $wdr-blue

  .icon-add
    float: right
    border-left: 2px solid $wdr-blue
    font-size: 35px
    width: 45px
    text-align: center

  h3
    margin: 0
    text-align: center
    font-weight: normal
    font-size: inherit

  .word-add-container
    position: relative
    float: right
    padding-left: 0

    @media (max-width: $bp-mobile)
      position: absolute
      top: 100%
      left: 0
      right: 0
      z-index: 200
      background: $menubar-color
      border-top: 2px solid $wdr-blue
      border-bottom: 2px solid $wdr-blue
      padding-left: 10px
      display: none

    .word-input
      display: block
      height: 40px
      width: 250px
      font-size: inherit
      border: none
      outline: none
      background: transparent
      color: inherit

      @media (max-width: $bp-mobile)
        width: 100%

      &::placeholder
        color: white

    .search-completion
      position: absolute
      z-index: 200
      margin-top: 2px
      left: 0
      right: 0
      color: white
      background: $menubar-color
      text-transform: none

      .word
        display: block
        padding: 8px 10px
        line-height: normal
        cursor: pointer

        &:hover
          background: $wdr-blue

  #adderState:checked ~ .word-add-container
    display: block

  > *
    padding: 0 10px

.cloud-container
  > .overlay-button
    right: 20px
    top: 20px
    left: auto

.content-wrapper
  .tab-wrapper
    overflow: hidden
    margin-bottom: 10px

    .tab-bar
      background-color: $grey
      text-align: center
      display: inline-block
      width: 100%

      @media(max-width: length($party-list)*$tab-width)
        background-color: transparent

    iron-selector
      display: inline-block

      &:after
        display: inline

        @media(max-width: length($party-list)*$tab-width)
          display: none

  .tab
    display: block
    float: left
    margin: 0
    padding: 10px 20px
    cursor: pointer
    text-transform: uppercase
    color: white
    width: $tab-width
    text-align: center
    @include partyColors('&.party-', 'background-color')

    @media(max-width: length($party-list)*$tab-width)
      width: percentage(1/4)

      @media (max-width: 375px)
        width: percentage(1/3)

    &.party-all
      background-color: $grey

    &.party-all, &.party-fdp, &.party-piraten, &.party-afd
      color: black

    &.iron-selected
      position: relative
      font-weight: bold

      @media(max-width: length($party-list)*$tab-width)
        padding: 8px 18px
        border: 2px dashed transparent
        @include partyTextColors('&.party-', 'border-color')

      &:after, &:before
        top: 100%
        left: 50%
        border: solid transparent
        content: " "
        height: 0
        width: 0
        position: absolute
        pointer-events: none

        @media(max-width: length($party-list)*$tab-width)
          display: none

      &:after
        border-color: rgba(136, 183, 213, 0)
        border-top-color: #88b7d5
        border-width: 35px 50px
        margin-left: -50px

      @include partyColors('&.party-', 'border-top-color', ':after')
      &.party-all:after
        border-top-color: $grey

      &:before
        border-color: rgba(255, 255, 255, 0)
        border-top-color: #ffffff
        border-width: 45px 60px
        margin-left: -60px

  .topline
    height: 5px
    background-color: $grey
    margin: 15px $content-margin 20px $content-margin
    display: block

    @media(max-width: length($party-list)*$tab-width)
      height: 0

  @include partyColors('&.party-', 'background-color', ' .topline')

  .text-wrapper
    padding: 0 ($content-margin - 20px)
    @include grid-container

    h4
      margin: 10px 20px 20px 20px

    .update-button
      float: right
      margin-right: 20px
      display: block
      cursor: pointer
      font-size: 15px

      .icon-refresh
        display: inline-block
        stroke-width: 0
        stroke: black
        fill: black

    .text-col
      @include grid-column(4)
      @media (max-width: 960px)
        @include grid-column(6)

      @media (max-width: 640px)
        @include grid-column(12)

      p
        position: relative
        margin: 0
        padding-bottom: 30px
        overflow: hidden

        &:after
          position: absolute
          content: " "
          height: 1px
          width: 30px
          background: #000
          left: 0
          bottom: 15px

        &:last-of-type:after
          height: 0

        .highlight
          font-weight: bold

        @include partyColors('&.party-', 'background-color', ' .highlight')
        @include partyTextColors('&.party-', 'color', ' .highlight')
        @include partyColors('&.party-', 'color', ' .more-link')

        .more-link
          float: right
          cursor: pointer
          font-weight: bold
          text-decoration: none
          visibility: hidden

          &:before
            content: ">"
            margin-right: 5px

        &:hover
          .more-link
            visibility: visible

  @include partyColors('&.party-', 'background-color', ' .highlight')
  @include partyTextColors('&.party-', 'color', ' .highlight')

.paragraph-modal
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: 200
  background: rgba(0,0,0,0.7)
  visibility: hidden

  &.shown
    visibility: visible

  .paragraph-modal-content
    position: absolute
    border: 1px solid $grey
    border-radius: 5px
    background: white
    padding: 10px
    margin: -10px
    box-sizing: content-box
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.7)

    .modal-close
      position: absolute
      top: -35px
      right: 10px
      font-size: 25px
      color: #fff
      cursor: pointer

    p
      margin: 0

      .highlight
        font-weight: bold

    .program-link
      position: absolute
      color: white
      font-weight: bold
      bottom: -30px
      right: 10px

  @include partyColors('&.party-', 'background-color', ' .highlight')
  @include partyTextColors('&.party-', 'color', ' .highlight')
