*
  box-sizing: border-box

@import "../bower_components/normalize-css/normalize.css"
@import "fonts.css"
@import "variables"
@import "icons"
@import "globals"

@import "header"
@import "breadcrumb"
@import "footer"

@import "landtagswahl"

body
  position: relative

.teaser
  padding: 30px

  p
    display: inline-block
    max-width: 700px
    margin: 5px 0

  em
    font-size: 20px
    display: block
    margin-bottom: 15px

@media (max-width: $bp-md)
  .container
    padding-left: 10px
    padding-right: 10px
