*
  box-sizing: border-box

@import "../bower_components/normalize-css/normalize.css"
@import "fonts.css"
@import "variables"
@import "icons"
@import "globals"

@import "header"
@import "breadcrumb"
@import "footer"

@import "landtagswahl"

@media (max-width: $bp-md)
  .container
    padding-left: 10px
    padding-right: 10px


